<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <div>
        <img src="" alt="" />
        <div>
            <h1>Email verification</h1>
            <h3>Hello {{name}}, to verify your Sant Art account's email click here <a href=`http://{{url}}/user/verify/{{token}}`>http://{{url}}/user/verify/{{token}}</a>.
            </h3>
        </div>
    </div>
</body>
</html>